*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color: #333333;
}

#maincontainer{
    height: auto;
    width: 100%;
    /* backdrop-filter: blur(15px); */
}

.sm-heading{
    height: 100%;
    width: 100%;
    position: relative;
    padding: 1vh 1vw;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #ffd05c;
}

.text-heading{
    width: 99%;
    /* background-color: green; */
}

/* .text-delete{
    align-items: end;
    background-color: red;
} */

#navbar{
    /* background-color: orange; */
    /* border: 2px solid orange; */
    height: 100%;   /* 86px */
    width: 100%;
    padding: 2vh 5vw;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 50px;
}

#navbar ul li{
    color: #333333;
    display: flex;
    text-decoration: none;
    font-size: 14px;
    line-height: 21px;
    font-family: "Be Vietnam Pro", sans-serif;
}

a.activated{
    color: #ff7d55;
}

/* #contact-text{
    color: white;
    font-weight: bold;
    background-color: #333333;
    border: 1px solid #000;
    padding: 12px 30px;
} */

.contact-text:hover{
    color: white;
    transition: 0.7s ease-in;
}

.contact-text:hover{
    color: #fff;
    background-color: #333333;
}

#navbar ul li a:hover{
    color: #ff7d55;
    /* color: white; */
}

/* ul span li a{
    color: white;
    font-weight: bold;
    background-color: #333333;
    border: 1px solid #000;
    padding: 12px 30px;
} */

a#contact-text{
    color: #fff;
    font-weight: bold;
    background-color: #333333;
    border: 2px solid #000;
    padding: 12px 30px;
}

a#contact-text:hover{
    color: #000;
    background-color: #fff;
    border: 2px solid #000;
    padding: 12px 30px;
    transition: 0.7s ease;
}

/* Popup Login Form */

.popup-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: #FFD05C;
    width: 410px;
    padding: 30px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); */
}

.popup-container{
    display: none;
    background-color: #FFD05C;
    width: 410px;
    padding: 30px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    z-index: 1;
}

#show:checked ~ .popup-container{
    display: block;
}

.popup-container a i{
    color: #fff;
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 18px;
    cursor: pointer;
}

.popup-container .login-head{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #fff;
    /* background-color: gray; */
}

.login-head i{
    /* display: flex; */
    font-size: 18px;
    text-align: center;
    /* align-items: flex-start; */
    justify-content: flex-end;
}

.popup-container form{
    margin-top: -20px;
}

.popup-container form .data{
    height: 45px;
    width: 100%;
    margin: 40px 0;
}

form .data label{
    font-size: 18px;
}

form .data input{
    height: 100%;
    width: 100%;
    padding-left: 10px;
    font-size: 17px;
    border: 1px solid silver;
}

form .data input:focus{
    border-color: #3498db;
    border-bottom-width: 2px;
}

form .forgot-password{
    margin-top: -8px;
}

form .forgot-password a{
    color: #3498db;
    text-decoration: none;
}

form .forgot-password a:hover{
    text-decoration: underline;
}

form .loginBtn{
    margin: 30px 0;
    height: 45px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

form .loginBtn .inner{
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    z-index: -1;
    background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
    transition: all 0.4s;
}

form .loginBtn:hover .inner{
    left: 0;
}

form .loginBtn button{
    height: 100%;
    width: 100%;
    background: none;
    border: none;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}

form .signup-link{
    text-align: center;
}

form .signup-link a{
    color: #3498db;
    text-decoration: none;
}

form .signup-link a:hover{
    text-decoration: underline;
}

/* hamburger css */

#hamburger-nav{
    display: none;
    /* width: 100%; */
}

/* main CSS Starts */

/* Hero section */

#hero-section{
    height: 100%;
    width: 100%;
    padding: 0 4vw;
    display: flex;
    gap: 120px;
    margin-top: 7vh;
    /* background-color: #ff7d55; */
}

.hero-text-left{
    height: 100%;
    width: 45%;
    /* background-color: #FFD05C; */
}

.hero-heading{
    color: #000;
    font-size: 70px;
    font-weight: bold;
    line-height: 91px;
    /* background-color: #9f01ea; */
}

.hero-desc{
    color: #333333;
    font-size: 16px;
    line-height: 27px;
    margin: 2vh 0 8vh 0;
    /* background-color: #3498db; */
}

#hero-btn{
    height: 100%;
    width: 100%;
    display: flex;
    gap: 20px;
    margin-bottom: 7vh;
    /* background-color: burlywood; */
}
 
.orange-btn{
    color: #fff;
    font-weight: bold;
    padding: 15px 35px;
    background-color: #ff7d55;
    border: 1px solid #ff7d55;
}

.orange-btn:hover{
    color: #000;
    background: #fff;
    border: 1px solid #ff7d55;
    transition: all 0.7s ease-in;
}

.black-btn{
    color: #fff;
    font-weight: bold;
    padding: 15px 35px;
    background-color: #000;
    border: 1px solid #000;
}

.black-btn:hover{
    color: #000;
    background: #fff;
    border: 1px solid #000;
    transition: all 0.7s ease-in;
}

#happy-students{
    height: 100%;
    width: 100%;
    display: flex;
    /* background-color: #ff7d55; */
}

.happy-media{
    display: flex;
    /* background-color: #9f01ea; */
}

.happy-media img{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 1px solid #fff;
}

#happy-img2{
    position: relative;
    left: -5px;
}

#happy-img3{
    position: relative;
    left: -10px;
}

#happy-img4{
    position: relative;
    left: -15px;
}

#happy-img5{
    position: relative;
    left: -20px;
}

.happy-text{
    color: #333333;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    /* background-color: #3498db; */
}

.hero-media-right{
    height: 100%;
    width: 45%;
    padding-left: 10vw;
    display: grid;
    grid-template-columns: 230px 230px;
    grid-template-rows: 230px 230px;
    gap: 20px;
    /* background-color: #56d8e4; */
    /* border: 1px solid gray; */
}

.hero-grid-img{
    position: relative;
    background-color: gray;
    /* border: 1px solid gray; */
}

#hero-grid-1{
    background-image: url(/assets/asset\ 7.jpeg);
    background-size: cover;
    border-radius: 50%;
}

#hero-grid-2{
    background-image: url(/assets/asset\ 8.jpeg);
    background-size: cover;
    border-top-right-radius: 50%;
}

#hero-grid-3{
    background-image: url(/assets/asset\ 9.jpeg);
    background-size: cover;
}

#hero-grid-4{
    background-image: url(/assets/asset\ 10.jpeg);
    background-size: cover;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.hero-circle-1{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #ff7d55;
    position: absolute;
    top: 20px;
}

.hero-circle-2{
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background-color: #ff7d55;
    position: absolute;
    bottom: 10px;
    right: 15px;
}

.hero-circle-3{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #FFD05C;
    position: absolute;
    bottom: -20px;
    left: -30px;
    z-index: -1;
}

.hero-circle-4{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #FFD05C;
    position: absolute;
    right: 0;
}

/* first section (client-section) */

#client-section{
    height: 100%;
    width: 100%;
    padding: 0 14vw;
    margin: 10vh 0;
    /* background-color: #3498db; */
}

.company-text{
    height: 100%;
    width: 100%;
    color: #333333;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    /* background-color: #FFD05C; */
}

.client-wrap{
    height: 100%;
    width: 100%;
    display: flex;
    gap: 50px;
    /* background-color: #9f01ea; */
}

.client-wrap img{
    padding: 4vh 0;
}

/* second section (feature section) */

#feature-section{
    height: 100%;
    width: 100%;
    padding: 10vh 10vw;
    margin-bottom: 10vh;
    display: flex;
    gap: 70px;
    background-color: #fff6ed;
}

.feature-item{
    height: 100%;
    width: 30%;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 2vh 1vw;
    /* background-color: gray; */
}

.feature-item:hover{
    box-shadow: 10px 5px 5px gray;
    transition: all 0.8s ease;
}

.feature-icon img{
    height: 60px;
}

.feature-title{
    color: #000;
    font-size: 18px;
    font-weight: bold;
    line-height: 27px;
    margin: 2vh 0;
}

.feature-desc{
    color: #333333;
    font-size: 16px;
    line-height: 27px;
}

/* third section (learning section) */

#learning-section{
    height: 100%;
    width: 100%;
    padding: 5vh 10vw;
    margin-bottom: 5vh;
    display: flex;
}

.learning-media-left{
    height: 550px;
    width: 40%;
    background-color: #56d8e4;
    background-image: url(/assets/asset\ 30.jpeg);
    background-size: cover;
    border-top-right-radius: 50%;
    position: relative;
}

.learning-media-left img{
    height: 130px;
    width: 228px;
    position: absolute;
    bottom: 36px;
    right: -100px;
    backdrop-filter: blur(10px);
}

.learning-text-right{
    height: 100%;
    width: 60%;
    /* padding-left: 13%; */
    padding: 12vh 0 0 13%;
    /* background-color: #9f01ea; */
}

.learning-heading{
    font-size: 50px;
    font-weight: bold;
    line-height: 75px;
}

.learning-desc{
    font-size: 16px;
    line-height: 27px;
}

.checklist-wrap{
    height: 100%;
    width: 100%;
    padding: 3vh 0;
    display: grid;
    grid-template-columns: 230px 230px;
    grid-template-rows: 27px 27px;
    gap: 20px;
    /* background-color: #56d8e4; */
}

.checklist-item{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    /* background-color: #FFD05C; */
}

#learning-btn{
    height: 100%;
    width: 100%;
    margin-top: 5vh;
    display: flex;
    /* background-color: #3498db; */
}

.cursor{
    cursor: pointer;
}

/* fourth section (Course section) */

#course-section{
    height: 100%;
    width: 100%;
    padding: 10vh 5vw 5vh 5vw;
    background-color: #fff6ed;
}

.section-heading{
    color: #000;
    font-size: 50px;
    font-weight: bold;
    line-height: 75px;
    text-align: center;
}

.sub-heading{
    color: #333333;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
}

.course-container{
    height: 100%;
    width: 100%;
    margin-top: 8vh;
    display: flex;
    justify-content: center;
    gap: 50px;
    /* background-color: green; */
}

.course-box{
    height: 521px;
    width: 29%;
    /* background-color: gray; */
}

.course-media{
    height: 55%;
    width: 100%;
    position: relative;
    /* background-color: #ff7d55; */
}

.course-price{
    color: #fff;
    padding: 6px 20px;
    /* background-color: gray; */
    font-size: 14px;
    line-height: 21px;
    backdrop-filter: blur(100px);
    position: absolute;
    bottom: 0;
    right: 20px;
}

#course-media1{
    background-image: url(/assets/asset\ 32.jpeg);
    background-size: cover;
}

#course-media2{
    background-image: url(/assets/asset\ 34.jpeg);
    background-size: cover;
}

#course-media3{
    background-image: url(/assets/asset\ 36.jpeg);
    background-size: cover;
}

.course-info{
    height: 45%;
    width: 100%;
    padding: 20px;
    background-color: #fff;
}

.box-heading{
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
}

.lesson-text{
    color: #ff7d55;
    font-size: 12px;
    font-weight: bold;
    line-height: 27px;
    padding-bottom: 10px;
}

.box-desc{
    color: #333333;
    text-align: start;
    font-size: 16px;
    line-height: 24px;
}

.course-box-teacher{
    padding-top: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.course-box-teacher img{
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

#allCourse-btn{
    height: 100%;
    width: 100%;
    padding-top: 5vh;
    display: flex;
    justify-content: center;
    /* background-color: #56d8e4; */
}

#allCourse-btnd a{
    color: #fff;
    font-weight: bold;
    padding: 15px 35px;
    background-color: #ff7d55;
    border: 1px solid #ff7d55;
}

/* fifth section (talent Section) */

#talent-section{
    height: 100%;
    width: 100%;
    padding: 5vh 10vw;
    margin: 5vh 0;
    display: flex;
}

.talent-text-left{
    height: 100%;
    width: 60%;
    /* padding-left: 13%; */
    padding: 20vh 13% 0 0;
    /* background-color: #9f01ea; */
}

.learning-heading{
    font-size: 50px;
    font-weight: bold;
    line-height: 75px;
}

.learning-desc{
    font-size: 16px;
    line-height: 27px;
}

#learning-btn{
    height: 100%;
    width: 100%;
    margin-top: 5vh;
    display: flex;
    /* background-color: #3498db; */
}

.talent-media-right{
    height: 550px;
    width: 40%;
    background-color: #56d8e4;
    background-image: url(/assets/asset\ 48.jpg);
    background-size: cover;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    position: relative;
}

.talent-media-right img{
    height: 130px;
    width: 228px;
    position: absolute;
    top: 100px;
    left: -50px;
    backdrop-filter: blur(10px);
}

/* sixth section (Teacher Section) */

#teacher-section{
    height: 100%;
    width: 100%;
    padding: 0 5vw;
    /* background-color: #3498db; */
}

.page-title-section{
    height: 100%;
    width: 100%;
    padding: 0 5vw;
    margin: 60px 0 80px 0;
    /* background-color: #3498db; */
}

.page-title{
    height: 100%;
    width: 100%;
    font-size: 50px;
    line-height: 75px;
    text-align: center;
    /* background-color: #9f01ea; */
}

.sub-heading{
    height: 100%;
    width: 100%;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    padding: 0 5vw;
    /* background-color: aquamarine; */
}

.teacher-container{
    height: 100%;
    width: 100%;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    /* background-color: green; */
}

.teacher-box{
    height: 467px;
    width: 28%;
    /* background-color: gray; */
}

.teacher-media{
    height: 80%;
    width: 100%;
    /* background-color: #ff7d55; */
}

.teacher-media img{
    height: 100%;
    width: 100%;
}

.teacher-info{
    height: 20%;
    width: 100%;
    padding: 20px;
    border: 0.1px solid #333333;
    border-top: none;
    /* background-color: #9f01ea; */
}

h5{
    color: #000000;
    font-size: 20px;
    line-height: 30px;
}

.teacher-location{
    color: #333333;
    font-size: 14px;
    line-height: 21px;
    padding-top: 6px;
}

/* still thinking */

.still-container{
    height: 100%;
    width: 100%;
    padding: 0 5vw;
    margin: 10vh 0;
    /* background-color: green; */
}

.still-thinking{
    height: 336px;
    width: 100%;
    padding: 60px 40px;
    background-color: #FFD05C;
}

.still-heading{
    text-align: center;
    color: #000000;
    font-size: 50px;
    font-weight: bold;
    line-height: 75px;
}

.still-desc{
    text-align: center;
    color: #333333;
    font-size: 16px;
    line-height: 24px;
}

.input-boxBtn{
    height: 95px;
    width: 480px;
    margin: auto;
    padding-top: 45px;
    display: flex;
    text-align: center;
    /* align-items: center; */
    gap: 10px;
    /* background-color: gray; */
}

.input-boxBtn input{
    color: #333333;
    height: 50px;
    width: 322px;
    padding: 15px;
    font-size: 14px;
    line-height: 20px;
}

.signup-btn{
    color: #fff;
    height: 50px;
    width: 147px;
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
    text-align: center;
    padding: 14px 30px;
    border: 1px solid #000000;
    background-color: #000000;
}

.signup-btn:hover{
    color: #000000;
    border: 1px solid #000000;
    background-color: #fff;
    transition: all 0.8s ease;
}

/* eight section (News Section) */

#news-section{
    height: 100%;
    width: 100%;
    padding: 10vh 5vw 5vh 5vw;
    background-color: #fff6ed;
}

.news-container{
    height: 100%;
    width: 100%;
    margin-top: 8vh;
    display: flex;
    justify-content: center;
    gap: 50px;
    /* background-color: green; */
}

.news-box{
    height: 556px;
    width: 29%;
    /* background-color: gray; */
}

.news-media{
    height: 55%;
    width: 100%;
    position: relative;
    /* background-color: #ff7d55; */
}

.course-price{
    color: #fff;
    padding: 6px 20px;
    /* background-color: gray; */
    font-size: 14px;
    line-height: 21px;
    backdrop-filter: blur(100px);
    position: absolute;
    bottom: 0;
    right: 20px;
}

#news-media1{
    background-image: url(/assets/asset\ 43.jpeg);
    background-size: cover;
}

#news-media2{
    background-image: url(/assets/asset\ 45.jpeg);
    background-size: cover;
}

#news-media3{
    background-image: url(/assets/asset\ 46.jpeg);
    background-size: cover;
}

.news-info{
    height: 45%;
    width: 100%;
    padding: 20px;
    background-color: #fff;
}

.date-text{
    color: #ff7d55;
    height: 18px;
    font-size: 12px;
    line-height: 27px;
    font-weight: bold;
    margin-bottom: 10px;
}

.date-text span{
    color: #FEBEAA;
    padding: 0px 5px;
}

.box-heading{
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
}

.lesson-text{
    color: #ff7d55;
    font-size: 12px;
    font-weight: bold;
    line-height: 27px;
    padding-bottom: 10px;
}

.news-box-desc{
    color: #333333;
    text-align: start;
    font-size: 16px;
    line-height: 27px;
    margin: 10px 0px 20px 0px;
}

.news-readMore:hover{
    color: #ff7d55;
    transition: all 0.7s ease;
}

/* ninth section (review section) */

#review-section{
    /* display: none; */
    height: 100%;
    width: 100%;
    padding: 10vh 0px;
    /* background-color: gray; */
}

.review-section{
    height: 100%;
    width: 100%;
    padding: 0 8vw;
    margin: 0;
    display: flex;
    /* background-color: gray; */
    position: relative;
}

.review-slider{
    height: 100%;
    width: 816px;
    margin: auto;
    /* background-color: #ff7d55; */
    position: relative;
}

.review-media{
    height: 550px;
    width: 100%;
    background-color: #FFD05C;
    background-image: url('/assets/asset\ 49.jpg');
    background-size: cover;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    position: relative;
}

.circle1{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #ff7d55;
    position: absolute;
    right: 50px;
}

.circle2{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #FFD05C;
    position: absolute;
    top: 100px;
}

.circle3{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    background-color: #ff7d55;
    position: absolute;
    bottom: -92px;
    right: -85px;
}

/* Swipper slider CSS (Custome CSS start) */

.swiper {
    width: 100%;
    height: 100%;
}

/* Swipper slider CSS (Custome CSS end) */

.slide{
    padding-right: 60px;
    /* background-color: gray; */
}

.fiveStars{
    height: 20px;
    /* width: 755px; */
    margin-bottom: 20px;
    display: flex;
    /* background-color: #FFD05C; */
}

.review-txt{
    height: 100%; /* 225px */
    font-size: 50px;
    line-height: 75px;
}

.review-user{
    display: flex;
    margin-top: 50px;
}

.review-user img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.review-userText{
    color: #333333;
    margin-left: 12px;
}

.review-userText h3{
    font-size: 16px;
    line-height: 27px;
}

.review-userText h4{
    font-size: 14px;
    line-height: 21px;
}

/* Footer */

#footer{
    /* display: none; */
    height: 100%;
    width: 100%;
    padding: 8vh 5vw;
    background-color: #000000;
}

.footer-top{
    height: 128px;
    width: 100%;
    margin: auto;
    padding-bottom: 50px;
    /* background-color: #ff7d55; */
}

.ft-left{
    height: 78px;
    width: 100%;
    /* background-color: green; */
}

.ft-links{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.ft-link a{
    color: #fff;
    margin-right: 30px;
}

.ft-link a:hover{
    color: #ff7d55;
    transition: all 0.7s ease;
}

.ft-icons{
    display: flex;
    gap: 30px;
}

.ft-icons i{
    font-size: 20px;
    color: #fff;
}

.footer-bottom{
    height: 46px;
    width: 100%;
    margin: auto;
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid gray;
    /* background-color: #FFD05C; */
}

.copyright-txt{
    color: #fff;
    font-size: 14px;
    line-height: 21px;
}

.copyright-txt a{
    color: #fff;
}

.copyright-txt a:hover{
    color: #ff7d55;
    transition: all 0.7s ease;
}

.ft-rightLinks a{
    color: #fff;
    margin-left: 40px;
}

.ft-rightLinks a:hover{
    color: #ff7d55;
    transition: all 0.7s ease;
}